.page, .wrapper, .header, .block_1, .block_2, .footer {
    margin: 0;
    padding: 0;
    border: 0;
}

.page {
    max-width: 1920px;
    min-height: 1000px;
}

.wrapper {
    max-width: 1170px;
    min-height: 1000px;
    margin: 0 auto;
    background: #C0DBD9;
    padding: 0 15px;
}

.header {
    width: 100%;
    min-height: 100px;
    margin: 0 auto;
    background: #7FAFF6;
}

.block_1 {
    width: 100%;
    min-height: 411px;
    margin: 0 auto;
    margin-top: 15px;
    background: #B3F95A;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.block_2 {
    margin: 0 auto;
    margin-top: 15px;
    background: #88B5BF;    
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.footer {
    width: 100%;
    min-height: 100px;
    margin: 0 auto;
    margin-top: 100px;
    background: #7FAFF6;
}

.one {
    width: 33.3%;
    height: 198px;
    background: #8AD191;
}

.two {
    width: 50.4%;
    height: 198px;
    background: #8AD191;
}

.three {
    width: 13.7%;
    height: 198px;
    background: #8AD191;
}

.four {
    width: 85%;
    height: 198px;
    background: #8AD191;
}

.five {
    width: 13.7%;
    height: 198px;
    background: #8AD191;
}

.item-responsive {
    background: #0D89B0;
    position: relative;
    width: 21.8%;
    margin: 30px 0;
    padding-top: 17%; /* (199 / 255) * 21.8 % */
}

.item-responsive:before {
    display: block;
    content: "";    
}

